<robot name="camera">
    <link name="world"/>
    <joint name="world_joint" type="fixed">
        <origin xyz="0.0 0 0" rpy="-1.5707 1.5707 0"/>
        <parent link="world"/>
        <child link="cctv1"/>
    </joint>
    <link name="cctv1">
        <visual>
            <origin xyz="0 0 0" rpy="-1.5707 1.5707 0"/>
            <geometry>
                <box size="0.15 0.15 0.15"/>
            </geometry>
        </visual>
        <inertial>
            <mass value="1e-5"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
        </inertial>
    </link>
    <gazebo reference="cctv1">
        <static>true</static>
        <turnGravityOff>true</turnGravityOff>
        <sensor type="camera" name="cctv1">
            <update_rate>30.0</update_rate>
            <camera name="head">
                <horizontal_fov>1.3962634</horizontal_fov>
                <!--horizontal_fov>1.92</horizontal_fov-->
                <image>
                    <width>512</width>
                    <height>512</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.0</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>cctv1</cameraName>
                <imageTopicName>/cctv1/image_raw</imageTopicName>
                <cameraInfoTopicName>/cctv1/camera_info</cameraInfoTopicName>
                <frameName>cctv1</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>
</robot>
