<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pioneer3dx_joints_state_publisher">
    <gazebo>
        <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
          <robotNamespace></robotNamespace>
          <jointName>chassis_swivel_joint, swivel_wheel_joint, left_hub_joint, right_hub_joint</jointName>
          <updateRate>50.0</updateRate>
          <alwaysOn>true</alwaysOn>
        </plugin>
    </gazebo>
  </xacro:macro>
  

  <xacro:macro name="pioneer3dx_diff_drive">
    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <rosDebugLevel>Debug</rosDebugLevel>
            <robotNamespace></robotNamespace>
            <publishWheelTF>true</publishWheelTF>
            <!--배속걸때 문제 생기는 부분. 이걸 true->false로 바꾸면 나아짐?--><!--https://blog.csdn.net/weixin_41070687/article/details/125736727-->
            <!--publishWheelJointState>true</publishWheelJointState-->
            <publishWheelJointState>false</publishWheelJointState>   <!--221117-->
            <alwaysOn>true</alwaysOn>
            <leftJoint>left_hub_joint</leftJoint>
            <rightJoint>right_hub_joint</rightJoint>
            <wheelSeparation>0.3</wheelSeparation>
            <wheelDiameter>0.18</wheelDiameter>
            <wheelTorque>20</wheelTorque>
            <wheelAcceleration>1.8</wheelAcceleration>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometrySource>world</odometrySource>
            <robotBaseFrame>base_link</robotBaseFrame>
	    <updateRate>50</updateRate>
        </plugin>
    </gazebo>

  </xacro:macro>



</robot>
